*{
    border: 1px solid red; 
}
.title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.play-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px; 
}

.buttons{
    display: flex;
    flex-direction: column;
}

.subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}